.cell {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 20px;
  }
  
  .robot {
    background-color: #00f;
    color: #fff;
    border: 1px solid #00f;
  }
  
  .row {
    display: flex;
  }
  
  .grid {
    display: flex;
    flex-direction: column-reverse;
  }